accelerate
bitsandbytes
datasets
deepspeed==0.16.5
einops
flash-attn
isort
jsonlines
loralib
optimum
optree>=0.13.0
packaging
peft
pynvml>=12.0.0
ray[default]==2.45.0
tensorboard
torch
torchmetrics
tqdm
transformers==4.55.0
transformers_stream_generator
wandb
wheel
anthropic
openai
tenacity
plotly
