accelerate
bitsandbytes
datasets
deepspeed==0.16.5
einops
flash-attn==2.7.2
isort
jsonlines
loralib
optimum
optree>=0.13.0
packaging
peft
pynvml>=12.0.0
ray[default]==2.45.0
tensorboard
torch==2.7.0
torchmetrics
tqdm
transformers==4.51.1
transformers_stream_generator
wandb
wheel
anthropic
openai
tenacity